// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Session */

.session-background {
  background-color: #000;
  background-image: url(https://s.pinimg.com/webapp/style/images/bg_multi_case_grid_no_text_white_55_percent-2000ab22.jpg);
  background-position: 0 600px;
  background-size: cover;
  /* animation: 80s bgScroll linear; */
  position: fixed;
  height: 100%;
  width: 100%;
}

.session-background::after {
  content: "";
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

@keyframes bgScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.session-container {
  z-index: 1;
}

.session-page-container {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

.session-form-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.logo-container {
  margin-top: 30px;
}

.heading {
  margin-bottom: 0;
  color: #555;
  font-size: 28px;
  font-weight: bold;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue", Helvetica;
}

.heading-slogan {
  margin-top: 0;
  color: #ccc;
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
}

.session-input {
  display: block;
  width: 250px;
  height: 40px;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.session-continue-btn {
  display: block;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  background-color: #bd081c;
  color: #fff;
  font-size: 14px;
}

.or {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #555;
}

.session-login-btn {
  display: block;
  width: 250px;
  height: 40px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.fb-btn {
  background-color: #3B5998;
  color: #fff;
  font-size: 14px;
}

.google-btn {
  background-color: #4885ed;
  color: #fff;
  font-size: 14px;
}

.terms {
  font-size: 12px;
  color: #aaa;
}

.session-info-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  color: #fff;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "\\30D2ラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "\\30E1イリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif;
  width: 230px;
  z-index: 1;
}

.session-info-container p {
  background-color: #bd081c;
  border-radius: 20px;
  font-size: 18px;
  padding: 20px;
  margin-bottom: 0;
  margin-left: 20px;

}

.info-btn {
  color: #fff;
  border: 2px solid #fff;
  background-color: #bd081c;
  border-radius: 5px;
  width: 100px;
}
