<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="https://s.pinimg.com/webapp/style/images/favicon-9f8f9adf.png">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
